

<div class="analytics">
  <label for="month">Month</label>
  <select [(ngModel)]="historicalMonth" name="month" id="month">
    <option  *ngFor="let month of months" [value]="month">{{month}}</option>
  </select>
  <label for="year">Year</label>
  <select (click)="getHistoricalData()" [(ngModel)]="historicalYear" name="year" id="year">
    <option  *ngFor="let year of years" [value]="year">{{year}}</option>
  </select>

</div>
<div *ngIf="parentData" id="chartDiv">
  <canvas width="900" height="320" #myChart id="myChart">{{ myChart }}</canvas>
</div>
