.analytics{
  text-align: center;
  margin: 50px;
}
#month{
  margin-right: 50px;
  width: 50px;
}
#myChart{
  height: 150px;
  margin: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
