.container{
	display:flex;
	justify-content: space-between;
	transform: translate(0%, 80%);
}

button{
	padding: 140px 50px;
	font-size: 18px;
	letter-spacing: 0.3px;
}
button:hover {
	background-color: #324191;
}
