<div class="container">
  <div class="flexbox-item flexbox-item-1">
    <button mat-raised-button color="primary" routerLink="/plasma-quiz">Register for Plasma Donation</button>
  </div>
  <div class="flexbox-item flexbox-item-2">
    <button mat-raised-button color="primary" routerLink="/register-plasma-receival">Register for Plasma Receival</button>
  </div>
  <div class="flexbox-item flexbox-item-3">
    <button mat-raised-button color="primary" routerLink="/register-vaccination">Register for Vaccination</button>
  </div>
</div>

<router-outlet></router-outlet>

