<div class="jumbotron text-center">
  <h1 class="display3">Success</h1>
  <p class="lead"><strong>Successfully registered for plasma recevial </strong></p>
  <p class="lead">
    <a href="http://localhost:4200" class="btn btn-primary btn-sm">Continue to Home Page</a>
  </p>
</div>
