.carousel {
  margin-top: 50px;
}
.carousel-inner {
  height: 100px;
}
.carousel-caption {
  color: whitesmoke;
  top: 50%;
}

#carouselExampleControls {
  background-color: black;
}

#py-3 {
  background-color: #eee;
}
